<div class="flex h-screen overflow-hidden bg-whatsapp-gray">
  <!-- Sidebar -->
  <div class="w-full md:w-[400px] flex flex-col border-r border-gray-700 bg-whatsapp-dark">
    <app-chat-list class="flex-1 overflow-hidden"></app-chat-list>
  </div>

  <!-- Main Chat Area -->
  <div class="hidden md:flex flex-1 flex-col bg-whatsapp-dark relative">
    <!-- Background Pattern -->
    <div class="absolute inset-0 opacity-5 pointer-events-none" 
         style="background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');">
    </div>
    
    <app-chat-window class="flex-1 overflow-hidden z-10"></app-chat-window>
  </div>
</div>
